.container {
    background-color: #E0FFFF;
    min-height: 100vh;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.list {
    list-style-type: none;
        /* Видаляє маркери списку */
        padding: 0;
        /* Відступи всередині списку */
        margin: 0;
        /* Зовнішні відступи списку */
    }
.list li {
    padding: 10px 20px;
    /* Відступи для кожного елемента */
}

