.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%
}

.videoList {
    list-style-type: none;
    padding: 0;
    display: grid;
    /* Змінено display на grid */
    grid-template-columns: repeat(2, 1fr);
    /* Два стовпці, рівні за шириною */
    gap: 20px;
    /* Відступ між елементами */
    justify-content: center;
    align-items: center;
}

.videoItem {
    /* width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; */

    display: flex;
    align-items: center;
    /* Вирівнюємо елементи по вертикалі */
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #AFEEEE;
}

.videoItem p {
    flex-grow: 1;
    /* Розтягуємо <p> на всю доступну ширину */
    font-size: 16px;
    margin: 0;
}



.buttonView {
    align-self: flex-end;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
}

.buttonView:hover {
    background-color: #0056b3;
}